SERVER_PORT=2024
CLIENT_PORT=2025
DB_USER=postgres
DB_PASSWORD=nfelf&S3p82032azaaamascsla
DB_HOST=database.host
DB_PORT=14886
DB_NAME=postgres

ENVIRONMENT = 'production'

SECRET_KEY=dafwafwa2AFe3gpskfs333

//пример того, какие значения должны быть в вашем случае 