@import './variables.scss';

@font-face {
  font-family: 'RFDewi';
  font-weight: 400; // Regular
  font-style: normal;
  src: url('../assets/font/RFDewi-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RFDewi';
  font-weight: 600; // Semibold
  font-style: normal;
  src: url('../assets/font/RFDewi-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'RFDewi';
  font-weight: 700; // Bold
  font-style: normal;
  src: url('../assets/font/RFDewi-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'RFDewi';
  font-weight: 600; // Semibold Italic
  font-style: italic;
  src: url('../assets/font/RFDewi-SemiboldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'RFDewi';
  font-weight: 400; // Regular Italic
  font-style: italic;
  src: url('../assets/font/RFDewi-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Klyakson';
  src: url('../assets//font/Klyakson.ttf');
  font-weight: 800;
}

h1 {
  font-size: 3rem;
  color: $black;
}

h2 {
  font-size: 2.1rem;
  color: $black;
}

p {
  font-size: 1.6rem;
  line-height: 130%;
  color: $black;
}

.btn {
  border-radius: 1.3rem;
  color: $white;
  background-color: $black;
  padding: 1.6rem 3rem;
  filter: $drop_shadow;
  font-weight: 400;
  transition: ease-in 100ms;

  &:hover {
    background-color: $black_hover;
  }

  &:disabled {
    opacity: 0.5;
  }
}
.white {
  background-color: $white;
  color: $black;

  &:hover {
    background-color: $white_hover;
  }
}

.icon-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
}

.avatar {
  border-radius: 50%;
  width: 7rem;
  margin-bottom: 1rem;
  border: 2px solid $black !important;
  cursor: pointer;
}

.avatar .selected {
  border: 4px solid $black_hover !important;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 33rem;
  gap: 2.5rem;

  ul {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    label, .label {
      color: $black;
      // font-size: 1.1rem;
      margin-bottom: 0.8rem;
    }
    li,
    .text {
      display: flex;
      flex-direction: column;
      width: 100%;
      column-gap: 2rem;

      span {
        display: block;
        padding-left: 8px;
        padding-top: 3px;
        font-size: 1.2rem;
        color: rgb(216, 60, 17);
      }

      textarea {
        resize: none;
        min-height: 9rem;
      }

      input,
      textarea,
      .input-style {
        padding: 1.6rem 2rem;
        background-color: #f3f5f6;
        border-radius: 1.3rem;
        filter: $drop_shadow;
        width: 100%;
        transition: 200ms;
        font-size: 1.4rem;

        &:disabled {
          cursor: auto;
          opacity: 0.6;
        }

        &::placeholder {
          opacity: 1;
          color: $gray_06;
        }

        &:not(:disabled):hover {
          background-color: $white;
        }

        &:focus {
          // outline: 0.1rem solid black;
          background-color: $white;
        }

        &.input-error {
          border: 1px solid rgb(249, 92, 49);
        }
      }
    }

    .row {
      flex-direction: row;
      justify-content: space-between;
      gap: 3rem;
    }
  }
}

a,
a:link,
a:visited {
  color: $black;
}

.number{
  flex-grow: 1;
  width: 20rem;
}

.numberInput {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  .arrow {
    font-size: 2rem;
  }
}
.speedInput {
  display: flex;
  justify-content: space-between;
  max-width: 22rem;
  width: 100%;

  button {
    &:hover {
      text-decoration: underline;
    }

  }

  .selected {
    font-weight: 600;
    text-decoration: underline;
  }

  .line {
    width: 1.5px;
    height: 2.3rem;
    background-color: $black;
    font-size: 2.5rem;
  }
}

.whole-width{
  width: 100%;
}

.modal-content {
  background-color: #DCE1E5;
  border-radius: $radius;
  justify-content: center;
  align-items: center;
  padding: 3rem;

  h1{
    margin-bottom: 3rem;
  }

  form{
    margin-bottom: 3rem;
  }

  .btn-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  a:hover{
    text-decoration: underline;
  }
}