$black: #2B2C33;
$white: #FFFFFF;

$gray_06: #76787E;
$gray_04: #A3A5A8;
$room_gray: #A9B2BA;
$room_top_gray: #D9DEE5;
$radius: 1.3rem;

$green: #14CF8B;
$yellow: #FFD900;
$pink: #FF52C8;
$red: #E64000;
$blue: #6E70FF;

$drop_shadow: drop-shadow(0px 0px 8px rgba(black, 0.1));